include ../mixins/sub-menu.pug

header.header
  .container 
    .row.align-items-center 
      .col-1 
        .inner-logo 
          a.logo(href="/")
            i.ri-home-heart-line
              |  Medicine
      .col-4 
        .search-box
          form.search(
            action="search"
            method="GET"
          )
            span.icon-large
              i.ri-search-line
            input(type="text"
              placeholder="Tìm kiếm sản phẩm..."
              class="form-control"
              name="keyword"
              value=keyword)
            button(type="submit") Search
      .col-3 
        .inner-menu 
          ul.second-links.flexitem 
            li 
              a(href="/") Trang chủ
            li.dropdown
              a#productDropdownMenuLink.dropdown-toggle(
                href="/products"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              )
                | Sản phẩm
              ul.dropdown-menu.mega-menu(aria-labelledby="productDropdownMenuLink")
                li
                  .container-fluid.px-4.py-3
                    .row.g-3 
                      .col-lg-7.col-md-6
                        .all-categories-list
                          if layoutProductCategory && layoutProductCategory.length > 0
                            each categoryL1 in layoutProductCategory
                              .category-group.mb-3 
                                h6.mega-menu-title
                                  a(href=`/products/${categoryL1.slug}`) #{categoryL1.title}
                                if categoryL1.children && categoryL1.children.length > 0
                                  ul.list-unstyled.mega-menu-list
                                    each categoryL2 in categoryL1.children
                                      li
                                        a(href=`/products/${categoryL2.slug}`) #{categoryL2.title}
                          else
                            p.text-muted Không có danh mục nào.

      .col-3
        .inner-tools
          ul.second-links.flexitem 
            li 
              a(href="/cart") Giỏ hàng
                i.fas.fa-shopping-cart 
                | (#{miniCart ? miniCart.totalQuantity : "0"})
            - if (user)
              - if (user.role_id == adminRole)
                li 
                  a(href="/admin/dashboard") Trang tổng quan
              
      .col-1
        .inner-avatar 
          ul.second-links.flexitem 
            - if (!user)
              li
                a(href="/user/login") Đăng nhập
            - else
              li.dropdown
                a.dropdownMenuButton.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false")
                  img.rounded-circle(src=user.avatar || "/uploads/avatar-default.jpg" alt="Avatar")
                ul.dropdown-menu.dropdown-menu-end(aria-labelledby="dropdownMenuButton")
                  li
                    a.dropdown-item(href=`/user/info/${user.id}`) Trang cá nhân
                  li
                    hr.dropdown-divider
                  li
                    a.dropdown-item(href="/user/password/reset") Đổi mật khẩu
                  li
                    hr.dropdown-divider
                  li
                    a.dropdown-item(href="/user/logout") Đăng xuất