extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
  .container.my-3
    .row 
      .col-12
        +box-head(pageTitle) 

  .chat-card
    each conversation in conversations
      a(href=`/admin/conversations/${conversation._id}` class="chat-card")
        .chat-info
          img.avatar(
            src=conversation.userAvatar || "/uploads/avatar-default.jpg" 
            alt="Avatar")
          .chat-meta
            h3= conversation.userName
            p Cập nhật gần nhất: #{new Date(conversation.updateAt).toLocaleString()}
